<h2> Welcome Merchant Admin to the New Item Form</h2>
<h3> Fill out the form below to create a new item</h3>

<%= form_tag merchant_admins_items_path do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, params[:name] %>
  <%= label_tag :description %>
  <%= text_field_tag :description, params[:description] %>
  <%= label_tag :price %>
  <%= text_field_tag :price, params[:price] %>
  <%= label_tag :image %>
  <%= text_field_tag :image, params[:image] %>
  <%= label_tag :inventory %>
  <%= text_field_tag :inventory, params[:inventory] %>

  <%= submit_tag 'Create Item' %>
<% end %>
