<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <%= form_tag users_path do %>
              <%= label_tag :user_name %>
              <%= text_field_tag :user_name %>

            </div>

            <div class="form-label-group">
              <%= label_tag :password %>
              <%= text_field_tag :password %>
            </div>
            <%= submit_tag 'Create Profile', class:"btn btn-lg btn-primary btn-block text-uppercase" %>

            <% end %>
