<h1> <%= @user.name %><h1>
  <ul>
    <li> <p> User name: <%= @user.user_name %> </p></li>
    <li> <p> Address: <%= @user.address %> </p></li>
    <li> <p>City: <%= @user.city %> </p></li>
    <li> <p>Zip: <%= @user.zip %></p></li>
    <li> <p>State: <%= @user.state %></p></li>
		
    <li> <%= link_to "Edit Profile", edit_user_path(@user) %></li>
    <li> <%= link_to "Edit Password", edit_password_path(@user) %></li>
  </ul>

<% if !@user.orders.any? == false %>
  <h3><%= link_to "My Orders", profile_orders_path %></h3>
<% end %>
