<h1> <%= @user.name %><h1>
  <ul>
    <li> <p> Address: <%= @user.address %> </p></li>
    <li> <p>City: <%= @user.city %> </p></li>
    <li> <p>Zip: <%= @user.zip %></p></li>
    <li> <p>State: <%= @user.state %></p></li>
    <li> <%= link_to "Edit Profile", edit_profile_path %></li>
  </ul>
