<%= link_to 'New Merchant', '/merchants/new' %>
<% @merchants.each do |merchant| %>
  <section id='merchant-<%= merchant.id %>'>
    <% if current_user && current_user.admin? %>
      <h2><%= link_to merchant.name, admin_merchant_dashboard_path(merchant.id) %></h2>
      <p><%= merchant.city %>, <%= merchant.state %></p>
      <% if merchant.enabled %>
        <%= button_to 'Disable', admin_merchant_disable_path(merchant.id), method: :patch %>
      <% else %>
      <%= button_to 'Enable', admin_merchant_enable_path(merchant.id), method: :patch %>
      <% end %>
    <% else %>
      <h2><%= link_to merchant.name, "/merchants/#{merchant.id}" %></h2>
    <% end %>
  </section>
<% end %>
