<% if @merchant %>
  <h1>All Items From <%= link_to @merchant.name, "/merchant/#{@merchant.id}" %></h1>
  <%= link_to 'New Item', "/merchants/#{@merchant.id}/items/new" %>
<% else %>
  <h1>All Items</h1>
<% end %>

<% if current_merchant_admin?  %>
  <% @items.each do |item| %>
    <section id='item-<%= item.id%>'>
      <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
      <p><%= item.description %></p>
      <%=link_to(image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw"), item_path(item), id: 'image') %>
      <p>Price: <%= number_to_currency(item.price) %></p>
      <p>Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %>, Inventory: <%= item.inventory %></p>
      <p><%= item.active ? "Active" : "Inactive" %></p>
      <p><%= link_to "Delete Item", item_path(item.id, {merchant_id: item.merchant_id}), method: :delete %></p>
    </section>
  <% end %>
<% else %>
  <% @items.each do |item| %>
    <section id='item-<%= item.id%>'>
      <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
      <p><%= item.description %></p>
      <%=link_to(image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw"), item_path(item), id: 'image') %>
      <p>Price: <%= number_to_currency(item.price) %></p>
      <p>Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %>, Inventory: <%= item.inventory %></p>
      <p><%= item.active ? "Active" : "Inactive" %></p>
    </section>
  <% end  %>
<% end %>
<hr>
<hr>
  <section class= 'most_popular'>
  <h4>Most Popular Items: </h4>
  <% @items.favorite_items.each do | name, quantity | %>
    <ul>
      <li><%="#{name}: #{quantity}" %></li>
    </ul>
  </section>
  <% end %>
<hr>
<hr>
  <section class= 'least_popular'>
  <h4>Least Popular Items: </h4>
  <% @items.least_favorite_items.each do |name, quantity| %>
    <ul>
      <li><%="#{name}: #{quantity}" %></li>
    </ul>
  </section>
<% end %>
<hr>
<hr>
